[Desktop Entry]
Categories=Graphics;
Exec=qweave %F
GenericName=Weaving Pattern Editor
Comment=Weave pattern editor and simulator
Icon=qweave
Keywords=Weave Pattern;editor;
MimeType=text/x-tex;
Name=QWeave
StartupNotify=false
Terminal=false
Type=Application

